<a href="https://colab.research.google.com/github/pttrilok/courses/blob/master/Lesson%201%20AI%20Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Module we will be studying about the following topics :
*    Intoduction to python
   * comments
   * python indentation
   * Some useful shortcuts   
*    Using Python as a calculator
*    Strings
*    Lists

### **An Informal Introduction to Python**

In the Python Interactive Mode, the line following the prompts ( i.e. `>>>`  or  `...` ) is the input and the line that do not begin with a prompt is the output. The secondary prompt ( `...` ) is used for multi-line input and you must type a blank line to end the multi-line command.

![](https://imgur.com/5eVzPHR.jpg)

>**Creating comments**

Comments in Python start with the hash character, `#` , and extend to the end 
of the physical line.

A comment may appear at the start of a line or following whitespace or code, but not within a string literal. 

A hash character within a string literal is just a hash character.

To add multi-line comment put `#` before each line.


*   Comments can be used to make the code more readable.

*   Comments can be used to prevent execution when testing code

In [ ]:
#comment 1
number = 67   #comment 2 following a code
              #comment 3 following whitespaces
text = "#This is not a comment as it's inside quotes"

In [ ]:
# This
# is
# a
# multi_line
# comment

> Introduction to python indentation

Indentation refers to spaces at the beginning of a line

In other languages indentation is used for readibilty but in Python indentation is very important, it indicates a block of code.

In [ ]:
if (1): 
  print("Hello")     #indented line indicates the block of "if statement"

Hello

In [ ]:
#python gives error if we miss the indentation

if(1):
print("hello")       #indentation is missing

IndentationError: ignored

> Some Shortcuts

*  Tab -  For indentation

*  Shift + Tab - To delete indentation

*  Ctrl + Shift + L  - To edit a name at all places in a cell

In [ ]:
# try these above shortcuts in this code

a = 10
b = 15
if a > b:
  print("a is greater than b")
  print("done")

elif a==b :
  print("a is equal to b")

else:
  print("a is less than b")

a is less than b

### **Using Python as a Calculator**

>**Numbers**

Let's try some simple mathematical operations... :)

**A.** Python supports :- 

*   Integer numbers (5, 0, -10 ) having ***int*** type

*   Numbers with fractional parts (3.4, 24.0, 5.25) having ***float*** type

*   Numbers with real and imaginary parts ( 8+3j , 7-4.5j ) having ***complex*** type(the real and imaginary part a of complex variable are floating point numbers). The imaginary part is suffixed by `j` or `J`  . 

In addition to these datatypes, Python also supports *Decimal* and *Fraction*.

In [ ]:
x = 45   # int type  # We will learn about the = operator further in this lesson
type(x)  # The type function returns the datatype of the variable

int

In [ ]:
y = -37.25  # float type
type(y)

float

In [ ]:
z = 3+5j   # complex type
type(z)

complex

NOTE : Here we only have to understand the type of numeric data and we'll soon be learning about the `type()` function.

**B.** In a Python interpretor, the operators like `+`, `-`, `*` and `/` can be used for general calculations and parentheses `(())` for grouping.

In [ ]:
5+5

10

In [ ]:
50 - 20 * 3

-10

In [ ]:
70 * (138 - 133)

350

In [ ]:
359/5   #Division always returns floating point number

71.8

The value that the operator operates on is called the operand. Python supports mixed operand type operation. Operators with mixed type operands convert the integer operand to floating point.

This can be understood by the following example:

In [ ]:
(3*2.5)+6  # 3 and 6 are integers and 2.5 is floating so the answer is a floating point number

13.5

**C.** Division `/` always returns a float. To calculate an integer result perform floor division using `//` operator and to calculate remainder use `%` modulus operator.

In [ ]:
47 / 8   #Division always returns floating point number

5.875

In [ ]:
47 // 8  #Floor division discards the fractional part

5

In [ ]:
47 % 8   # % operator returns the remainder

7

**D.** To calculate power, use the `**` power operator . It returns the value of the first number raised to the power of second.

In [ ]:
5**4  # 5^4 or 5 raised to the power 4

49

In [ ]:
2**6 # 2 raised to the power 6

64

**E.** Assignment operator `=` is used to assign value to a variable. If we call the variable then it returns the assigned value.

In [ ]:
altitude = 9  # 9 is assigned to altitude variable

In [ ]:
base = 10     # 10 is assigned to base variable

In [ ]:
(base*altitude)//2   #the varaibles are used to perform calculations0

45

**F.** When trying to use a variable that is not defined or is not assigned a value, u receive an error.

In [ ]:
s

NameError: ignored

**G.** In Python interactive mode, the last printed expression is assigned to the variable `_` (underscore) . This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

1.

In [ ]:
82+44

126

In [ ]:
_ * 2  # 126 is assigned to _

252

In [ ]:
270 - _ # now 252 is assigned to _

18

2.

In [ ]:
tax = 10.58/100

In [ ]:
price = 210

In [ ]:
price*tax

22.218

In [ ]:
price + _   # the last printed expression i.e. 22.218 is assigned to _

232.218

In [ ]:
round( _ , 2)    # 232.218 is assigned to _ variable
                 # round function is used to round-off the number to given places of decimal(here it is 2)

232.22

NOTE : This variable should be treated as read-only by the user. 

If you explicitly assign a value to the variable `  _  ` then you are actually creating a local variable and masking the built-in variable with these special behaviour.

In [ ]:
33*2

66

In [ ]:
_       # using _ variable to access last printed expression

66

In [ ]:
_ = 34  # explicitly assigning a value to _

In [ ]:
_

34

NOTE : `  _  `   variable should print 66 because 66 is the last printed expression but since a local variable `  _   ` is created so the built-in variable loses its special behaviour at this point.

### **STRINGS**

In order to print a text value we use data type **string**. In order to print the text enclose the text in  either in the single quote { ' hello ' } or double quote{ " how are u?  " }

In [ ]:
'Hey there!'

'Hey there!'

In [ ]:
"Hey there!"

'Hey there!'

Above both syntax are same so you can use any one of them

1)  Now learn how to print the Apostrophe { ' } in our text

*    Let's check what happened if we simply put ' in our normal text

In [ ]:
'Which is correct, Chris's chair or Chris' chair?'

SyntaxError: ignored

Hence it shows error so to avoid thi we have 2 ways

A) By putting back slash before the ' for eg {  \\'  } to escape the single quote

In [ ]:
a='Which is correct, Chris\'s chair or Chris\' chair?'
print(a)

Which is correct, Chris's chair or Chris' chair?

B) By using double quotes and enclosing text in single quote and vice versa

In [ ]:
a='"Yes," she said.'
print(a)

"Yes," she said.

In [ ]:
a='"Yes," she said.'
print(a)

"Yes," she said.

If you are confused with the starting and ending quotes use print function what is basically do is print the text or anything which we pass to it

In [ ]:
print("'Yes,' she said.")

'Yes,' she said.

**NOTE** :-  Don't use backslash { \\ } in the double and single quote format it will print it as it is

In [ ]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

2) Printing the continued text in the new line

*    By using \\n it will print the text ahead of it in the next line

In [ ]:
'First line.\nSecond line'

'First line.\nSecond line'

If we write like above the \n is included in the text so to use \n to print the text in the next line use print function

In [ ]:
y='First line.\nSecond line.'
print(y)

First line.
Second line.

*    Another way is by using triple-quotes: """...""" or '''...'''. End of lines are automatically considered as the next line

In [ ]:
print("""First line
  Second line  { Writng text after 2 spaces from the begining }
Third line

""")

First line
  Second line  { Writng text after 2 spaces from the begining }
Third line

We can even prevent the automatically next line syntax  by adding a \ at the end of the line. The following example:

In [ ]:
print("""First line \
First line continued  
Third line

""")

First line First line continued
Third line

3) If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [ ]:
print('C:\helo\desktop\name')

C:\helo\desktop
ame

Hence { \\n } will be read as the operator for printing the value in the next line

To avoid this we will add an extra argument { r } at the begining of our text

In [ ]:
y=r'C\helo\desktop\name'
print(y)

C\user\desktop\name

4) Strings can be concatenated (glued together) with the + operator, and repeated with *

*    {  * }  Multiplication operator multiplies the same text into the number we pass it to

In [ ]:
c=4 * 'hi'
c

'hihihihi'

*    { + } operator works *as* to stick 2 broken things together

In [ ]:
d=c + 'haha'
d

'hihihihihaha'

There a lot of other methods which help to conactinate 2 strings

*    Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [ ]:
'Hi ' ',how ' 'are ' 'You ?'

'Hi ,how are You ?'

Well the above method only works with two literals though, not with variables or expressions:

In [ ]:
a='Hi '
b=a 'how' 
b

SyntaxError: ignored

To avoid the above error just simply use the { + } operator

In [ ]:
a='Hi '
b=a + 'how ' + 'are ' + 'u ?'
b

'Hi how are u ?'

In [ ]:
3 * 'hu'  ' j'

'hu jhu jhu j'

5) Indexing : Strings can be indexed (subscripted) starting from 0.

 P  y  t  h  o  n 

 0 1 2 3 4 5

In [ ]:
word = "Python"

In [ ]:
word[0]

'P'

In [ ]:
word[4]

'o'

*   Indices may also be negative numbers:

To print the values from the last we put -ve sign and the value begining from the right end. Since -0 is the same as 0, negative indices start from -1.


Let's look at some examples:

In [ ]:
word[-2]   # returns the 2nd character from the right

'o'

In [ ]:
word[-5]   # returns the 5th character from the right

'y'

6) Slicing , as the name suggests, means to cut or divide into slices or segments. Slicing in strings means to create parts out of the original string or to create sub-string. 

While indexing is used to obtain individual characters, slicing allows you to obtain substring.

For better understanding lets look at some examples:

*   Specify the start index and the end index, seprated by a colon to return a part of string. 

*   The first value is included and the last value is excluded **[start,stop)** {start and stop are the values you have entered}

In [ ]:
word = "Python"

In [ ]:
word[2:5]  # slicing starts at index 2 and ends at index 5 excluding the 5th character

'tho'

In [ ]:
word [0:4]

'Pyth'

The absence of start index defaults to zero and absence of end index defaults to the size of the string.

In [ ]:
word1 = "Geeksman"

In [ ]:
word1[:5]    #omitted start index is default to 0

'Geeks'

In [ ]:
word1[5:]   #omitted end index is default to the size of string

'man'

In [ ]:
word1[-3:]

'man'

In [ ]:
word1[:]

'Geeksman'

Using too large index results in error.

In [ ]:
word[50]

IndexError: ignored

In [ ]:
word[-30]

IndexError: ignored

Passing out of range slice indices is very well handled by python. If we pass the index which is greater than the size of string it doesn't give any error it just simply print values upto last index.

In [ ]:
word[3:23]

'hon'

In [ ]:
word[23:4]

''

Python strings are immutable i.e. they cannot be changed. So assigning value to indexed position in string results in error.

In [ ]:
word[0] = "K"

TypeError: ignored

In [ ]:
word1[-3:] = "woman"

TypeError: ignored

A new string can be created by using `  +  ` operator.

In [ ]:
"K" + word[1:]

'Kython'

In [ ]:
word1[:-3] + "woman"

'Geekswoman'

The built-in `len()` function is used to return the length of string.

In [ ]:
s = "pneumonoultramicroscopicsilicovolcanoconiosis"   #This is the longest word of english language and it refers to a lung disease.

In [ ]:
len(s)

45

###**LISTS**

To store similar values together like integers , float and strings  and to access them easily we use list in python.There are a number of data types avaliable but list is the most commonly used. Like we are having array's concept in c and c++ in the same way in python list's are there. Maximum of the functionality are same but there's a little difference we will see that

1) Intializing a list and printing values

In [ ]:
a=[1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

2) Like strings list can also be indexed and sliced

A) Printing the value at a particular index

In [ ]:
a[4] # prints the value at 4th index

5

B) Slicing of the list meaning printing the partiular values in a list in a given range let's see how this works

1) Printing all the values in the list.

*   Firstly by simply passing the list name  
*   Secondly with the help of slicing

In [ ]:
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a[:]

[1, 2, 3, 4, 5, 6]

2) Printing some particular values in list by using indexing

*   Printing the value at a particular index

In [ ]:
a[3]

4

*   Printing values in a given range

a[ intial_index_value : final_value_index + 1 ]

In [ ]:
a[1:5]

[2, 3, 4, 5]

NOTE:- The first value is included and last value is exluded [x,y)  { x & y is the value which you entered}

NOTE:- If we pass the index which is greater than the size of list it doesn't give any error it just simply print values upto last index

In [ ]:
a[1:78]

[2, 3, 4, 5, 6]

In [ ]:
a[89:]

[]

**Printing the values from the last or negative slicing**

To print the values from the last we put -ve sign and the value begining from the right end.Remember value start's from 1 not from 0 because { -0 & +0 } have no meaning. Let's look at examples to get a clear view on this

Eg:- 

1.   a[-1]  Print's the last value i.e 6 
2.   a[-4]  Print the 4th vaulue from the end i.e 3
3.   a[-2:]  Here we are printing values from second last to end 
4.   a[0:-2] Prints all values except the last two

In [ ]:
a[-1]

6

In [ ]:
a[-4]

3

In [ ]:
a[-2:]

[5, 6]

In [ ]:
a[0:-2]

[1, 2, 3, 4]

C) Lists also support operations like concatenation

Eg:-   
a=[1,2,3,4,5]

b=[6,7,8,9]

c=a+b

In [ ]:
a=[1,2,3,4,5,6]
b= a + [7,8,9]
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

**NOTE:-** Remember the result of concatenation you have to store it in a another list the intial list {a,b} doesn't get updated untill u store result in it.See in the below example

In [ ]:
a=[1,2,3,4,5,6]
b=[7,8,9,10]
a=a+b
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

D) Unlike strings, which are immutable, lists are a mutable type i.e value at particular index can be changed

In [ ]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a[0]=10
a

[10, 2, 3, 4, 5, 6, 7, 8, 9, 10]

E) You can also add new items at the end of the list, by using the append() method

In [ ]:
a.append(7)
a

[10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7]

F) Assignment to slices is also possible, and this can even change the size of the list or clear it entirely



*   Replacing values

In [ ]:
a

[10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7]

In [ ]:
a[2:4]=[15,12]
a

[10, 2, 15, 12, 5, 6, 7, 8, 9, 10, 7]

*    Removing values in a given range

In [ ]:
a[2:4]=[]
a

[10, 2, 5, 6, 7, 8, 9, 10, 7]

*    Clear the list by replacing all the elements with an empty list

In [ ]:
a[:] = []
a

[]

G) The built-in function len() also applies to lists where as in c & c++ you have to compute it by dividing the size of array to the size of single element

In [ ]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(b)

9

H) It is possible to nest lists (create lists containing other lists) like 2-D & 3-D array

In [ ]:
c=['a','b','c']
d=[1,2,3]
e=[c,d]
e

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
e[0]

['a', 'b', 'c']

In [ ]:
e[0][0]

'a'

### **H.W.**

>For a given list `[2, 45, 12, 39, 28, 22, 29, 57]`. Create a new list with last 3 and the first 3 elements of this list.... 
new list should be `[22, 29, 57, 2, 45, 12]`...
Do it using concepts taught in the class.

>How will you add an element in a list at a particular position.
ex:- add `31` at 5th index in the list `[2, 45, 12, 39, 22, 29, 57]`  to create new list `[2, 45, 12, 39, 22, 31, 29, 57]`