<a href="https://colab.research.google.com/github/pttrilok/courses/blob/master/AI%20Foundation/Lesson%202%20AI%20Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Module we will be studying about the following topics :


*  First step to programming
     *    if statement
     *    loops
          *    while loop
          *    for loop  +   range() function
*  Various patterns using nested loops
*  break, continue and pass statement

# **First step to Programming**

> **if Statement**

In Python, like in C, any non-zero integer value is true; zero is false. The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false. 

The standard comparison operators are same as in C, `<` (less than) , `>`(greater than), `==` (equal to), `<=` (less than equal to), `>=` (greater than equal to) and `!=` (not equal to). 

The body of the loop is indented. To add indentation in interative prompt you have to type a tab. (Here in colab notebook we have auto indent facility)

In [ ]:
a = 20
b = 5
if a > b:
  print("a is greater.")

a is greater.

In [ ]:
x = 32     #try with other values

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:       #elif is short for else if
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

`print()` function is used to write the argument it is given.

>**Loops**

*    **While loop**

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1         #initialising the variable
while i < 6:  #condition
  print(i)    
  i = i + 1   #incrementing i

1
2
3
4
5


NOTE : Don't forget to increment i or else the loop will continue forever.

Fibonacci series :

0, 1, 1, 2, 3, 5, 8, 13, 21, . . . . . .

Each number is the sum of the two preceding ones, starting from 0 and 1.

In [ ]:
# Fibonacci Series
a, b = 0, 1       # multiple assignment
while a < 10:
  print (a)
  a, b = b, a+b

0
1
1
2
3
5
8

NOTE:   
First and last line contains **multiple assignment** : On the first line, the variables a and b simultaneously get the new values 0 and 1. On the last line this is used again, demonstrating that the expressions on the right-hand side are all evaluated first before any of the assignments take place. The right-hand side expressions are evaluated from the left to the right.

We can also print the series in the same line seprated by commas:

We can use the `end` parameter of the print function to end a print statement using a string or character.

In [ ]:
# Fibonacci Series
a, b = 0, 1
while a < 10:
  print (a, end = ", ")  #end the print statement using by a ", "
  a, b = b, a+b

0, 1, 1, 2, 3, 5, 8,

In [ ]:
# Fibonacci Series
a, b = 0, 1
while a < 10:
  print (a, end = " : ")
  a, b = b, a+b

0 : 1 : 1 : 2 : 3 : 5 : 8 :

*    ***For loop***
For loop in Python, is different from that in C . 
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string), in the order they appear in the sequence.

1. Iterating over list

In [ ]:
fruits = ["banana", "apple", "cherry", "strawberry", "kiwi"]
for fruit in fruits:
  print(fruit, len(fruit))

banana 6
apple 5
cherry 6
strawberry 10
kiwi 4

2. Iterating over string

In [ ]:
name = "banana"
for ch in name:
  print(ch)

b
a
n
a
n
a

> **`Range()` function**

Range ( start, stop, skip) 

This will be well understood through following examples:

*  range(9, 15)

-->  9, 10, 11, 12, 13, 14    
*  range(2, 19, 2)        

-->  2, 4, 6, 8, 10, 12, 14, 16, 18

*  range(5, 20, 5)

-->  5, 10, 15

In [ ]:
for i in range(3, 10):
  print(i, i + 2)

3 5
4 6
5 7
6 8
7 9
8 10
9 11

While looking at these examples the object returned by `range()`behaves as if it is a list but in fact it isn't. 

We say such an object is iterable, that is, suitable as a target for **functions and constructs** that expect something from which they can obtain successive items until the supply is exhausted.

In [ ]:
#lets see what happens if we print a range

print(range(15))

range(0, 15)

In [ ]:
# we can use range in sum() function

sum(range(10))   # 0 + 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9

45

*   Later we'll see more functions that take iterables as argument and return iterables.

In [ ]:
# To get a list from range 

list(range(10))    #list() function creates list from iterables

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*    Nested loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Looking at some examples will make things clear:

In [ ]:
count = ["two", "three", "four"]
fruits = ["apples", "bananas", "oranges"]

for x in count:    
  for y in fruits:
    print(x, y , end = " ---- ")
  print()

two apples ---- two bananas ---- two oranges ----
three apples ---- three bananas ---- three oranges ----
four apples ---- four bananas ---- four oranges ----

# **Various pattern printing using nested for loops**

Now we are havinng enough understanding of the loops now with the help of them let's print some different types of patterns

1) Printing a square of size 4 * 4

1111

1111

1111

1111

In [ ]:
l=4 # intializing length to 4
for i in range(0,l):
  for j in range(0,l):
    print('1',end='')
  print('\n')

1111

1111

1111

1111

2) Rectangle of size 4 * 3

111

111

111

111

In [ ]:
l=4 # intializing length to 4
b=3 # intializing breadth to 4
for i in range(0,l):
  for j in range(0,b):
    print('1',end='')
  print('\n')

111

111

111

111

3) Triangle

1

1 2

1 2 3

1 2 3 4 

1 2 3 4 5

In [ ]:
l=5 # intializing length to 5
for i in range(1,l+1):
  for j in range(1,i+1):
    print(j,end='')
  print('\n')

1

12

123

1234

12345

4) Triangle 2

1

121

12321

1234321

123454321

In [ ]:
l=5 
for i in range(1,l+1):
  for j in range(1,i):
    print(j,end='')
  for j in range(i,0,-1):
      print(j,end='')
  print('\n')

1

121

12321

1234321

123454321

5) Hollow Triangle

1

12

1*3

1**4

1***5

In [ ]:
l=5
for i in range(1,l+1):
  for j in range(1,i+1):
    if j==i or j==1:
      print(j,end='')
    else:
      print('*',end='')
  print('\n')

1

12

1*3

1**4

1***5

6) Equilateral Triangle

![](https://imgur.com/MIjE2RP.jpg)

In [ ]:
l=10
for i in range(1,l+1):
  for j in range(i,l):
    print(' ',end='')
  for j in range(1,2*i):
    print('*',end='')
  print('')

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

7) Double the number

1 
   
   2    1 

   
   4    2    1 
   
   8    4    2    1 
  
  16    8    4    2    1 
  
  32   16    8    4    2    1 
  
  64   32   16    8    4    2    1 
 
 128   64   32   16    8    4    2    1

In [ ]:
l=8
for i in range(1,l+1):
  p=2**(i-1)
  for j in range(0,i):
    print(p,end=' ')
    p=p//2
  print("")

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

8) Reverse number from a particular range

1

3 2

6 5 4

10 9 8 7

15 14 13 12 11

In [ ]:
current=1
count=1
s=0
for i in range(1,6):
  current=count
  count=count+i+1
  for j in range(0,i):
    print(current,end=' ')
    current=current-1
  print(' ')

1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

# **break , continue and pass statements**

In a coding event you are solving a question and it has 21 test cases and now to get awarded the marks for it  you have to solve atleast 15 test cases.

So once you solved atleast 15 test case u want to jump to the next question so in this case **break** statement is used

Also for a particular value you want to execute half your code statement and procced to the next test case **continue** statement is used 

If you have solved more than 15 test cases and it doesn't matter whether the remaining test cases are correct or not in this case **pass** statement is used

**break statement**

It end the current loop immediately when it is encountered

Writing a code which will break the execution of loop if the number is divisible by 7

In [ ]:
l=100
for i in range(1,l+1):
  print(i)
  if i%7==0:
    print('The current number is divisible by 7')
    break
print('Mission accomplished')

1
2
3
4
5
6
7
The current number is divisible by 7
Mission accomplished

Print all the characters in a string unless 'a' is encountered

In [ ]:
s='hey how are u ?'
for i in range(0,len(s)):
  if s[i]=='a':
    break
  else:
    print(s[i])

h
e
y

h
o
w

**continue statement**

It skips the current iteration of the loop and continues with the next iteration

We will write a code which will print values from 0 to 10 excluding 5,6,7

In [ ]:
l=10
for i in range(0,l+1):
  if i>= 5 and i<= 7:
    print('Found a number between 5 & 7')
    continue
  print(i)

0
1
2
3
4
Found a number between 5 & 7
Found a number between 5 & 7
Found a number between 5 & 7
8
9
10

Printing only odd values

In [ ]:
l=15
for i in range(0,l+1):
  if i%2==0:
    print('Given value is even')
    continue
  print(i)

Given value is even
1
Given value is even
3
Given value is even
5
Given value is even
7
Given value is even
9
Given value is even
11
Given value is even
13
Given value is even
15

**pass statement**

It is bascially none statement i.e do nothing

In [ ]:
s='Pass Statement'
for i in range(0,len(s)):
	if s[i]=='S':
		pass
		print("I'm here for nothing ",end=' ')
	print(s[i])

P
a
s
s

I'm here for nothing  S
t
a
t
e
m
e
n
t

Let's look at the difference between **continue** and **pass** statement to get a crystal clear understanding

Pass

In [ ]:
l=5
for i in range(0,l+1):
	if i==2:
		pass
		print('asdf')
	else:
		print(i)

0
1
asdf
3
4
5

Continue

In [ ]:
l=5
for i in range(0,l+1):
	if i==2:
		continue
		print('asdf')
	else:
		print(i)

0
1
3
4
5

# **H.W.**

Read basic definition and syntax of **tuple** and **dictionary**