<a href="https://colab.research.google.com/github/pttrilok/courses/blob/master/AI%20Foundation/Lesson%203%20Fundamentals%20of%20AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Module we will be studying about the following topics :
*   Functions
    * Defining Function
    * Calling Function
*   Arguments
    * Defualt arguments
    * Arbitrary Arguments
    * Passing List as an Argument
*   Keyword Arguments
*   Return Values
*   Pass Statement
*   Recursion
*   Lambda Expressions

**<H1>Functions**

A function is a block of code that performs specific task only when it is called.

You can also pass data in function, it is called parameters.

And the function can also return a value as a result.

# **Defining Functions**

The `def` keyword is used to define the function followed by the name of the function and then the parenthesized formal parameters. The function body starts at the next line which is indented.

In [ ]:
def my_function():
  print("Hello guyzzz")

**<H2>Calling function**

Just simply write the name of the function followed by parenthesis

In [ ]:
my_function()

Hello guyzzz

# **Arguments**

*  They are the information that we can pass to the function.

  We can add as many arguments as we wish.

  {informally we can say that arguments actually create personalised result}

In [ ]:
#defining function
def my_function1(country):
  print("Welcome to "+country)

In [ ]:
#calling function for various values of country
my_function1("India")
my_function1("England")
my_function1("Germany")

Welcome to India
Welcome to England
Welcome to Germany

In [ ]:
#lets see what happens if we do not pass any values to the function

my_function1()

TypeError: ignored

<H3>Here lets understand the basic difference between <B><I>parameters</I></B> and <B><I>arguments</I></B>:

***Parameters*** are what we declare in the function 

***Arguments*** are what we pass while calling the function

For example: In `my_function1()`    
*   `country` is the parameter

*   values like `"India"`   ,   `"England"`    ,   `"Germany"`   are arguments.

**<H1>Default Argument Values**

As the name suggests function will take some arguments and will intialize the values of those parameters irrespective of that parameters are recieving values or not.

This method creates a function that can be called with fewer arguments than it is defined to allow

In [ ]:
def my_function2(lang = "Python"):
  print("I am working on " + lang)

my_function2("C")
my_function2("C++")
my_function2()
my_function2("Java")

I am working on C
I am working on C++
I am working on Python
I am working on Java

Another form of setting default parameters intially

**NOTE** :-  The default values are set permanently once we declare our function defination after that no changes made to the value will effect it

In [ ]:
lang='Python'

def f(arg=lang):
    print(arg)

lang="C"

f("C++")
f()

C++
Python

Although we can make changes to the values before the function declaration statement

In [ ]:
lang='Python'
lang='C'

def f(arg=lang):
    print(arg)


f("C++")
f()

C++
C

**<H1>Number of Arguments**

We can add any number of arguments seprated by commas

In [ ]:
def name(fname, lname):
  print(fname+" "+lname)

In [ ]:
name("Harry", "Potter")  # You can try adding your own name

Harry Potter

In [ ]:
# lets see what happens if we pass only one argument instead of two

name("Harry")

TypeError: ignored

In the above example the function expected 2 arguments and received just 1

**<H1>Arbitrary Arguments**  `*arg`

In a similar situation, if we are unaware of the number of arguments that will be passed. Then we simply put `*` before the parameter name in the function definition .

What actually happens is that the arguments that are passed are accepted as a tuple of arguments and hence the items are accessed accordingly.

NOTE: A tuple is an immutable collection i.e. you cannot append, remove, insert or alter any values in it. eg: `a = (3, 5, 2)`

In [ ]:
def my_function3(*fruits):
  for fruit in fruits:
    print("I love to eat "+fruit)

In [ ]:
my_function3("bananas","apples","oranges")

I love to eat bananas
I love to eat apples
I love to eat oranges

**<H1>Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary and many more) and  it will be treated as the same data type inside the function.

For eg  if you send a string as an argument, it will still be a string when it reaches the function. In the same way lit will be treated as list

In [ ]:
def my_function4(coding_sites):
  for i in coding_sites:
    print(i)

Coding_Sites=['Hackerrank','Hackerearth','Geeksforgeeks','Codeshef','Codeforces','Leetcode']

my_function4(Coding_Sites)

Hackerrank
Hackerearth
Geeksforgeeks
Codeshef
Codeforces
Leetcode

As we know list is mutable so we can make changes to it like we can append numbers to end and remove elements from it let's how we can implement it

In [ ]:
def my_function5(coding_sites):
  coding_sites.append('Spoj') # Adding a value at the end
  for i in coding_sites:
    print(i)

  print(len(coding_sites))
  
  coding_sites=coding_sites[0:6] # Removing the last element in the list
  for i in coding_sites:
    print(i)

coding_sites=['Hackerrank','Hackerearth','Geeksforgeeks','Codeshef','Codeforces','Leetcode']

my_function5(coding_sites)

Hackerrank
Hackerearth
Geeksforgeeks
Codeshef
Codeforces
Leetcode
Spoj
7
Hackerrank
Hackerearth
Geeksforgeeks
Codeshef
Codeforces
Leetcode

# **Keyword Arguments**

Functions can also be called using keyword arguments of the form `key = value`.

While calling functions using arguments the order of passing arguments matters

But while calling function through keyword arguments order does not matter.

In [ ]:
# lets look at the name() function we created earlier

def name(fname, lname):
  print(fname+" "+lname)

In [ ]:
# calling function using arguments 

name ("Daniel", "Radcliffe")   # fname="Daniel" and lname="Radcliffe"

Daniel Radcliffe

In [ ]:
name ("Radcliffe","Daniel")    # fname="Radcliffe" and lname="Daniel"

Radcliffe Daniel

In [ ]:
# calling function using keyword arguments

name(lname = "Radcliffe", fname = "Daniel")

Daniel Radcliffe

In [ ]:
def dog(count, colour = "brown", breed = "German Shepherd", action = "barking"):
  print("There are",count,colour +" "+ breed, end = ".")
  print("They are "+ action)

In [ ]:
# the dog function can be called in the following ways

print("# 1", end = " ")
dog(5)                                                        # 1 positional argument
print("# 2", end = " ")
dog(count = 5)                                                # 1 keyword argument
print("# 3", end = " ")
dog(count = 5, action = "sleeping")                           # 2 keyword arguments
print("# 4", end = " ")
dog(breed = "St. Bernard", colour = "white", count = "2")     # 3 keyword arguments
print("# 5", end = " ")
dog(10, "black", "Cane Corso")                                # 3 positional arguments
print("# 6", end = " ")
dog(6, action = "eating")                                     # 1 positional argument and 1 keyword argument

# 1 There are 5 brown German Shepherd.They are barking
# 2 There are 5 brown German Shepherd.They are barking
# 3 There are 5 brown German Shepherd.They are sleeping
# 4 There are 2 white St. Bernard.They are barking
# 5 There are 10 black Cane Corso.They are barking
# 6 There are 6 brown German Shepherd.They are eating

The followng are invalid calling statements:

In [ ]:
dog()                      # 1 required argument count is missing

TypeError: ignored

In [ ]:
dog(count = 5, "Poodle")   # positional argument follows keyword argument

SyntaxError: ignored

In [ ]:
dog(9, count = 3)          # duplicate value for the same argument

TypeError: ignored

In [ ]:
dog(state = "alive")       # unknown keyword argument

TypeError: ignored

**<H1>Arbitrary Keyword Arguments**

In a similar situation, if we are unaware of the number of keyword arguments that will be passed. Then we simply put ` ** ` before the parameter name in the function definition .

This way the function will receive a dictionary of arguments, and can access the items accordingly:

A dictionary is a collection which is unordered, mutable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. 

ex: `{1:"first" , 2:"second" , 3:"third"}`

In [ ]:
def myfunction4(**kwargs):  
    for key, value in kwargs.items():    # looping through all the keys and values of the dictionary
        print (key + " = " + value)

In [ ]:
myfunction4(first = "apple", second = "banana", third = "orange")

first = apple
second = banana
third = orange

# **Return Values**

As the name suggests it will return either string , list , number , boolean value and many more according to the logic applied inside the function

*    Returning Number

In [ ]:
def sqre(x):
  return x * x

l=sqre(3)
p=sqre(l)
print(p)

81

*    Returning Boolean value

In [ ]:
def check(x):
  if x%2==0:
    return True
  else:
    return False

print(check(4))
print(check(5))

True
False

*    Returning List

In [ ]:
def ar(x):
  a=[]
  for i in range(0,x):
    a.append(i+1)
  return a
p=ar(5)
print(p)

[1, 2, 3, 4, 5]

*    Returning string

In [ ]:
def str(x):
  x= x + ' Concept'
  return x
p=str("Welcome to the Return")
print(p)

Welcome to the Return Concept

# **The pass Statement**

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error

In [ ]:
def myfunction():
  pass

# **Recursion**

Recursion is same as of loops :)

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

**NOTE:-** Remember while using recursion u must put a terminating condition to exit from the programme unless your will result in a never ending process and will result into an error :(

Printing factorial using recursion

*    With terminating condition

In [ ]:
def fact(x):
  if x==0:
    return 1
  elif x==1:
    return 1
  else:
    return x*fact(x-1) 
print("factorial of 5")
k=5
print(fact(k))

factorial of 5
120

*    Without terminating condition

In [ ]:
def fact(x):
    return x*fact(x-1) 
print("factorial of 5")
k=5
print(fact(k))

factorial of 5

RecursionError: ignored

Let's print { 0 1 1 2 3 ...  } series with the help of recursion

In [ ]:
def fib(a,b,k):
  if k-2>0:
    print(a+b,end=' ')
    fib(b,a+b,k-1)
  else:
    return
print('Printing the terms of series upto 8')
k=8 
print('Required series :- 0 1 ',end='')
fib(0,1,k)

Printing the terms of series upto 8
Required series :- 0 1 1 2 3 5 8 13

**NOTE** :- Recursion never makes your code works faster and never uses less memory

# **Lambda Expressions**

It is a small anonymous functions

For eg:- A lambda function that multiply 10 to the number passed in as an argument and print the result

In [ ]:
x = lambda a : a * 10
print(x(3))

30

The explanation of the above Programme is :-

1. What does a : a + 10 does ?
It basically returns the sum of value passed to it + 10 and store the result in a

2. You can think of it as f(x)=x*x + x + 1 { Any function }

3. We can call the function f(x) i.e { x in our question } by passing suitable value to it for getting our desired result

Lambda function multiplying 3 values

In [ ]:
x = lambda a, b, c : a * b *c
print(x(5, 6, 2))

60

Below function perform the additon of the 2 variables

In [ ]:
def make_incrementor(n):
  return lambda x: x + n
f = make_incrementor(42)
f(42)

84

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

**Why lambda ???**

Lambda function are used along with built-in functions like filter() , map() and many more 

let's see what they do ?

<h2>A) filter()</h2>


As the name suggests it will filter out values according to the condition applied

The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to True

The filter() function in Python takes in a function and a list as arguments

syntax:-
new_list=list(filter(lambda x : condition ,list_on which_operation))

Now let's print only those values which are divisible by 2 by both lambda and simple loop

In [ ]:
a = [1, 5, 4, 6, 8, 11, 3, 12]

**With lambda**

In [ ]:
new_list= list(filter(lambda x: (x%2 == 0),a))
print(new_list)

[4, 6, 8, 12]

**Without lambda**

In [ ]:
b=[]
for i in range(0,len(a)):
  if a[i]%2==0:
    b.append(a[i])
print(b)

[4, 6, 8, 12]

<h2>B) map()</h2>

The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item

The map() function in Python takes in a function and a list

syntax:- 
new_list=list(map(lambda x : condition ,list_on which_operation))

Now let's print all values multiplied by 2 by both lambda and simple loop function

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]

**With lambda**

In [ ]:
new_list = list(map(lambda x: x * 2 , a))
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Without lambda**

In [ ]:
for i in range(0,len(a)):
  a[i]=2*a[i]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]