<a href="https://colab.research.google.com/github/pttrilok/courses/blob/master/AI%20Foundation/Lesson%204%20AI%20Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>In this notebook we will learn about


*   Del statement
*   Sets
*   Dictionary
*   Looping Techniques
*   Bold Text

# Del statement

There is a way to remove an item from a list given its index instead of its value:- the **del** statement

*    Deleting values at a particular index

for eg :-

a=[1,2,3,4,5,6]

For deleting an element at a particular index we just pass the index of the element to the del statment

del(a[0])

Final List after deletion a=[2,3,4,5,6]

In [ ]:
a=[1,2,3,4,5]

In [ ]:
del(a[2])

In [ ]:
a

[1, 2, 4, 5]

In [ ]:
del(a[0])

In [ ]:
a

[2, 4, 5]

*    Removing slices from list

In [ ]:
a=[1,2,3,4,5,6,7]

In [ ]:
del(a[0:3])

In [ ]:
a

[4, 5, 6, 7]

*    Making entire list empty

In [ ]:
a=[1,2,3,4,5]

In [ ]:
del(a[:])

In [ ]:
a

[]

*     Deleting the list

In [ ]:
a=[1,2,3,4,5]

In [ ]:
del(a)

In [ ]:
a

NameError: ignored

# Sets

 A set is an unordered collection with no duplicate elements. 

 Just like list set is also the same but in set no duplicate values are allowed. 
 
 For eg:-

 Defining syntax a={value_1,value_2,value_3,value_4}

 Even if in the above value_1 and value_2 are same it will output a={value_1,value_3,value_4}

Defining a set and printing it's unique values

In [ ]:
a={'Lesson1','Lesson2','Lesson3','Lesson4','Lesson1'}

In [ ]:
a

{'Lesson1', 'Lesson2', 'Lesson3', 'Lesson4'}

Checking whether a particular value is present or not 

It will return a boolean value i.e either true {if present}   or false { if not present}

In [ ]:
'Lesson1' in a

True

In [ ]:
'Lesson5' in a

False

Passing a string to set and storing result in a new variable . It will bascially break each character of the string and keep only unique characters of our string

In [ ]:
a=set('Lesson 1')

Printing all the unique characters in a

In [ ]:
a

{' ', '1', 'L', 'e', 'n', 'o', 's'}

In [ ]:
b=set('Lesson 2')

Printing all the unique characters in b

In [ ]:
b

{' ', '2', 'L', 'e', 'n', 'o', 's'}

Let's see what happen when we try to combine two set using **+** operator

In [ ]:
a + b

TypeError: ignored

Hence above code shows error so we to concate 2 set we will use **|** operator

In [ ]:
a | b

Characters which are present in a but not in b

In [ ]:
a-b

{'1'}

Characters which are present in both a and b

In [ ]:
a & b

{' ', 'L', 'e', 'n', 'o', 's'}

Characters in both a & b but not in both

In [ ]:
a ^ b

{'1', '2'}

In [ ]:
c=set('Lesson 1')

In [ ]:
c

{' ', '1', 'L', 'e', 'n', 'o', 's'}

Iterating through set

In [ ]:
for i in c:
  print(i,end=' ')

s n L   1 e o

Adding values to set

In [ ]:
c.add('Hello')
c

{' ', '1', 'Hello', 'L', 'e', 'n', 'o', 's'}

In [ ]:
for i in range(0,5):
  c.add(i)

In [ ]:
c

{' ', 0, 1, '1', 2, 3, 4, 'Hello', 'L', 'e', 'n', 'o', 's'}

Well to remove values from set we have 2 functions remove() and discard()

Let's see both of them one by one and why we use discard() over remove()

*    <h2>remove()<h2>

This function recieves the value to be deleted from the set

for eg:-

a={1,2,3,4,5,'H','L'}

a.remove(1)

After removal of value 1 our set will be:- a= {2,3,4,5,'H','L'}

a.remove('H')

Now our set will be a={2,3,4,5,'L'}

In [ ]:
c

{' ', 0, 1, '1', 2, 3, 4, 'Hello', 'L', 'e', 'n', 'o', 's'}

In [ ]:
c.remove(0)

In [ ]:
c

{' ', 1, '1', 2, 3, 4, 'Hello', 'L', 'e', 'n', 'o', 's'}

In [ ]:
c.remove('o')

In [ ]:
c

{' ', 1, '1', 2, 3, 4, 'Hello', 'L', 'e', 'n', 's'}

Removing value which is not present it will give an error

In [ ]:
c.remove('a')

KeyError: ignored

So to avoid this error we will use discard() function

*    <h2>discard()<h2>

This function also recieves the value to be deleted from the set

for eg:-

a={1,2,3,4,5,'H','L'}

a.remove(1)

After removal of value 1 our set will be:- a= {2,3,4,5,'H','L'}

a.remove('H')

Now our set will be a={2,3,4,5,'L'}

In [ ]:
c

{' ', 1, '1', 2, 3, 4, 'Hello', 'L', 'e', 'n', 's'}

In [ ]:
c.discard(4)

In [ ]:
c

{' ', 1, '1', 2, 3, 'Hello', 'L', 'e', 'n', 's'}

In [ ]:
c.discard(4)

In the above code as value 4 is not present in our set and we are trying to remove hence it doesn't give any error unlike remove() function

In [ ]:
c

{' ', 1, '1', 2, 3, 'Hello', 'L', 'e', 'n', 's'}

In [ ]:
c[0]

TypeError: ignored

# Dictionary


It is best to think of a dictionary as a set of lock: key pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of lock: key pairs within the braces adds initial lock: key pairs to the dictionary; this is also the way dictionaries are written on output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. 

syntax:- a={lock:key , lock:key }

for eg:- a={'A':0,'B':1}

Here A is the lock and 0 is the key for it and B is the another lock and 1 is the key for it

Defining dictionary

In [ ]:
a={'Chetan': 1 , 'Ankit': 2 , 'Vaibhav':3}

Printing key value for a particular lock

In [ ]:
a['Ankit']

2

In [ ]:
a['Vaibhav']

3

Deleting a set of lock and key by passing the lock value

for eg:-

a={'Chetan': 1 , 'Ankit': 2 , 'Vaibhav':3}

del a['lock_value'] 

del a['Chetan]

a={ 'Ankit': 2 , 'Vaibhav':3}

In [ ]:
del a['Ankit']

In [ ]:
a

{'Chetan': 1, 'Vaibhav': 3}

Deleting the complete dictionary

In [ ]:
del(a)

In [ ]:
a

NameError: ignored

In [ ]:
a={'Chetan': 1 , 'Ankit': 2 , 'Vaibhav':3}

Adding new lock and key values in our dictionary

In [ ]:
a['Arnav']=6

In [ ]:
a

{'Ankit': 2, 'Arnav': 6, 'Chetan': 1, 'Vaibhav': 3}

Changing the key value for a particular lock

In [ ]:
a['Ankit']=4

In [ ]:
a

{'Ankit': 4, 'Arnav': 6, 'Chetan': 1, 'Vaibhav': 3}

In [ ]:
a['Chetan']=5

In [ ]:
a

{'Ankit': 4, 'Arnav': 6, 'Chetan': 5, 'Vaibhav': 3}

Getting all the lock value in the form of list by passing the dictionary in list() function

for Eg:- 
a={'Chetan': 1 , 'Ankit': 2 , 'Vaibhav':3}

b=list(a)

b=['Chetan','Ankit','Vaibhav']

In [ ]:
b=list(a)
b

['Chetan', 'Ankit', 'Vaibhav', 'Arnav']

Checking a particular lock is present in the dictionary or not

It will return boolen value i.e true{if_value_is_present_} and false{if_value_is_not_present}

In [ ]:
'Vaibhav' in a

True

In [ ]:
'Cheeta' in a

False

In [ ]:
'Cheeta' not in a

True

Another short way of creating a dictionary

In [ ]:
b={x: x**2 for x in (2, 4, 6)}

In [ ]:
b

{2: 4, 4: 16, 6: 36}

When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:

In [ ]:
a=dict(Vipul=1,Anshul=2,Vaibhav=3)

In [ ]:
a

{'Anshul': 2, 'Vaibhav': 3, 'Vipul': 1}

Iterating over our dictionary

*    Printing only our lock values

In [ ]:
for i in a:
  print(i)

Vipul
Anshul
Vaibhav

*    Printing only key values

In [ ]:
for i in a:
  print(a[i])

1
2
3

*    Printing both the lock and key values

In [ ]:
for i in a:
  print(i,a [i] ,end=' ')
  print('')

Vipul 1
Anshul 2
Vaibhav 3

# Looping techniques

We can Loop through both keys and values in dictionary by using the items() keyword

for eg:-

new_list={'a':'b' , 'c':'d' }

for i,j in new_list.items():

  print(i,j)

In the above example i will point to a & c and j will point to b & d.

In [ ]:
a = {'Coding': 'Sites', 'Bread': 'Butter', 'Pen':'Pencil'}
for k, v in a.items():
  print(k,v)

Coding Sites
Bread Butter
Pen Pencil

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

*    List

In [ ]:
a=['tic', 'tac', 'toe']
for i,j in enumerate(a):
  print(i,j,end=' ')
  print('')

0 tic
1 tac
2 toe

*     Set

In [ ]:
a={'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
for i,j in enumerate(a):
  print(i,j,end=' ')
  print('')

0 orange
1 pear
2 banana
3 apple

*    Dictionary

In dictionary with the help of using items() keyword we can print both key and value.

By using the enumerate function and passing the dictionary with the items() keyword it will return a tuple and we can access the key value value pair by using theindexing

In [ ]:
a={'Chetan': 1 , 'Ankit': 2 , 'Vaibhav':3}
for i,j in enumerate(a.items()):
  print(i,j[0],j[1])

0 Chetan 1
1 Ankit 2
2 Vaibhav 3

To loop over two or more sequences at the same time, the entries can be paired with the zip() function

In [ ]:
a = [1,2,3,4,5]
b = [1,4,9,16,25]
c = [1,8,27,64,125] 
for x,y,z in zip(a,b,c):
  print(x,y,z)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

# Bold text

<h6>In this we will learn how to output bold text in python. Well we are having a lot of different ways to print bold text in python you can choose any of them which suits you better

1st method

In [ ]:
a_string = "End of lesson 4"
bolded_string = "\033[1m" + a_string + "\033[0m"

In [ ]:
print(bolded_string )

End of lesson 4

2nd method

In [ ]:
!pip install termcolor

Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [ ]:
from termcolor import colored
print(colored('End of leeson 4', attrs=['bold']))

End of leeson 4